<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <img src="pozzani.png" alt="pozzani logo" class="pozzanilogo" />
    <div class="mainbackground">
      <div class="leftcolumn">
        <div class="welcomebox">
          <div class="welcometxt">Welcome, (USER)!</div>
          <button type="submit" class="signoutbtn">
            <a class="signouttext" href="index">CLICK to sign out</a>
        </div>
        <%- include('./includes/nav.ejs') %>
        <%- include('./includes/useful.ejs') %>
      </div>
    </div>
    </body>
    </html>